@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

$background-color: #f5f5f5;
$font-color: #333;
$large-text: 'DM Sans', sans-serif;
$header-background-color: #486c77;
$header-text-color: #fff;
$footer-background-color: #486c77;
$footer-text-color: #fff;
$hover-color: #efb072;
$border-color: #ddd;
